<h1>About Meadowlark Travel</h1>
{{#if fortune}}
    <p>Your fortune for the day:</p>
    <blockquote>{{fortune}}</blockquote>
    <p>Questions?  Checkout out our <a href="/" class="home">Home page</a> page!</p>
{{/if}}